.footer {
    margin-top: calculator-rem(72);
    display: inline-block;
    background-color: $tertiary-color;
    width: 100%;

    @media screen and (max-width: 540px) {
        padding-inline: calculator-rem(24);
    }

    &__wrapper {
        margin: 0 auto;
        max-width: $container-l;
        padding: calculator-rem(72) 0;
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 540px) {
            flex-direction: column;
        }
    }

    &__left {
        @media screen and (max-width: 540px) {
            text-align: center;
            margin-bottom: calculator-rem(48);
        }
        img {
            width: 124px;
            height: 124px;
            border-radius: 50%;
            border: 4px solid $secondary-color;

            @media screen and (max-width: 540px) {
                margin: 0 auto;
            }
        }
        h4 {
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 120%;
            color: $grey-800;
            margin-top: calculator-rem(12);
        }
        span {
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 120%;
            color: $grey-700;
            display: block;
            margin-top: calculator-rem(12);
        }
        p {
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 120%;
            color: $grey-700;
            margin-top: calculator-rem(24);
        }

        &--social {
            display: flex;
            gap: calculator-rem(16);
            margin-top: calculator-rem(32);

            @media screen and (max-width: 540px) {
                justify-content: center;
            }

            .social-icon {
                width: 57px;
                height: 57px;
                border-radius: 50%;
                background-color: $primary-color;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                &:hover {
                    transform: translateY(-5px);
                    &::before {
                        color: $secondary-color;
                    }
                }
            }
            .insta {
                transition: 0.5s ease;
                @include before-icon("\e926", 32px, $grey-800) {
                }
            }
            .github {
                transition: 0.5s ease;
                @include before-icon("\e91d", 32px, $grey-800) {
                }
            }
            .twitter {
                transition: 0.5s ease;
                @include before-icon("\e939", 32px, $grey-800) {
                }
            }
        }
    }

    &__right {
        h4 {
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 120%;
            color: $grey-800;
        }
        &--form {
            margin-top: calculator-rem(24);
            display: flex;
            flex-direction: column;
            gap: calculator-rem(20);

            input,
            textarea {
                height: 48px;
                background-color: $primary-color;
                border: 1px solid $secondary-color;
                border-radius: 5px;
                padding: calculator-rem(15) calculator-rem(25);

                &::placeholder {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 120%;
                    color: $grey-700;
                }
            }

            textarea {
                height: calculator-rem(125);
                resize: none;
            }
            button {
                height: 63px;
                background: transparent;
                border: 1px solid $secondary-color;
                border-radius: 15px;
                width: calculator-rem(191);
                font-weight: 700;
                font-size: 18px;
                line-height: 120%;
                color: $grey-700;
                transition: 0.4s;

                &:hover {
                    cursor: pointer;
                    color: $secondary-color;
                    border: 2px solid $secondary-color;
                }
            }

            &--button-wrapper {
                margin-top: calculator-rem(4);
                display: flex;
                justify-content: flex-end;
            }
        }
    }

    &__copyrights {
        border-top: 1px solid $grey-300;
        width: 100%;
        &--wrapper {
            max-width: $container-l;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            padding: calculator-rem(40) 0;

            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 120%;
            color: $grey-700;

            @media screen and (max-width: 540px) {
                font-size: calculator-rem(12);
            }

            

            

            &--back-top {
                a {
                    color: $grey-800;
                    transition: 0.5s;
                    @include after-icon("\e903", 32px, $grey-800) {
                        margin-left: calculator-rem(15);
                        vertical-align: middle;
                    }

                    &:hover {
                        cursor: pointer;
                        opacity: 0.4;
                    }

                    @media screen and (max-width: 540px) {
                        font-size: calculator-rem(18);
                    }
                }
            }
        }
    }
}
