.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: calculator-rem(24) 0;

    &__logo {
        font-family: "Be Vietinam Pro", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 100%;
        color: $tertiary-color;

        &--lio {
            color: $secondary-color;
        }
    }

    &__nav {
        &--menu {
            display: flex;
            align-items: center;

            &--link {
                margin-right: calculator-rem(24);
                font-style: normal;
                font-weight: 600;
                font-size: calculator-rem(18);
                line-height: 120%;

                &:last-child {
                    margin-right: 0px;
                }

                a {
                    transition: 0.5s ease;
                    &:hover {
                        color: $secondary-color;
                    }
                }
            }
        }
    }

    &__wrapper {
        display: flex;
        align-items: center;

        .icon-sun {
            transition: 0.3s ease all;
            @include before-icon("\e937", 24px, $secondary-color) {
                margin-left: calculator-rem(32);
            }
            &:hover {
                transform: translateY(-2px);
            }
        }
    }

    
}
